<section id="popupOverlay">
  <section id="imagePopup">
    <div class="popup-close-btn"></div>

    <div id="imageBox">
      <div id="imageContainer">
        <img src="" alt="">
      </div>
      <div id="evaluateContainer">
        <div class="evaluate-btn-wrapper first">
          <div class="evaluate-btn dislike-btn">
            <p class="reviews-count">0</p>
          </div>
        </div>
        <div class="evaluate-btn-wrapper">
          <div class="evaluate-btn like-btn">
            <p class="reviews-count">0</p>
          </div>
        </div>
      </div>
    </div>

    <div id="commentsBox">
      <h1 class="comments-box-title">Comments: 0</h1>
      <div class="comments-list">
        <div class="comment">
          <div class="comment-info-row">
            <p class="comment-info-content">By Admin</p>
            <p class="comment-info-content">2 month ago 8:00 AM</p>
          </div>
          <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam</div>
        </div>
      </div>
      <form>
        <input type="text" required>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </form>
    </div>
  </section>
</section>
