<section id="gallery-wrapper">
  <h1 class="page-title">Welcome to viseven <span class="page-title--color">imagestock</span></h1>

  <section class="packery-grid-wrapper">
    <section class="packery-grid" #packerygrid>
      <div class="packery-grid-item" *ngFor="let image of images" ngClass="{{image?.getType()}}">
        <img [src]="image?.getSource()" (click)="imageClick(image)">
      </div>
      <div class="packery-grid-item" id="addImageBtn">
        <input type="file" id="addFileInput" multiple="" accept="image/jpeg,image/png" (change)="onChange($event)">

        <div class="btn-add"></div>
        <p class="btn-add-description">Add your<br>Picture</p>
      </div>
    </section>
  </section>
</section>
